html, body, ul, ol, h1, h2, h3, img, input {
  margin: 0;
  padding: 0; }

.user-badge {
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
  padding: 20px 10px; }

.avatar {
  float: left;
  width: 280px;
  height: 280px; }

.avatar-img {
  width: 238px;
  height: 238px; }

.input-avatar.hide {
  display: none; }

.follow-icon:before {
  font-family: FontAwesome;
  content: "\f055"; }

.email-icon:before {
  font-family: FontAwesome;
  content: "\f0e0"; }

.handle-icon:before {
  font-family: FontAwesome;
  content: "\f099"; }

.detail-item {
  display: flex; }
