// _user.scss
$border-color: #E1E1E1;
$primary-text-color: #173644;

//Main component div
.user-badge {
  display: flex;
  border: 2px solid $border-color;
  border-radius: 10px;
  box-shadow: 0 0 5px $border-color;
  padding: 45px 30px;
  width: 540px;
}

//Div containing img and file input
.avatar {
  width: 180px;
  height: 180px;
  padding: 0 25px 0 0;
}

//avatar image
.avatar-img {
  position: relative;
  border: 2px solid $border-color;
  border-radius: 5px;
  width: 180px;
  height: 180px;
  cursor: pointer;
}

//avatar file iput
.input-avatar {
  position: absolute;
}

.input-avatar.hide {
  display: none;
}

//icons for user details
.follow-icon:before {
  font-family: FontAwesome;
  font-size: 28px;
  content: "\f055";
}

.email-icon:before {
  font-family: FontAwesome;
  font-size: 28px;
  content: "\f0e0";
}

.handle-icon:before {
  font-family: FontAwesome;
  font-size: 28px;
  content: "\f099";
}

//Detail items
.detail-item {
  display: flex;
}

//Detail items text
h2 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 32px;
  height: 36px;
  margin: 5px 0 20px 0;
  color: #00A2EC;
}

h3 {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 28px;
  margin: 0 0 10px 10px;
  color: $primary-text-color;
}

//Follow detail - eventually will be an anchor
.follow-header {
  cursor: pointer;
}
